/* https://nicepage.com/ru/html-templates/preview/vremya-morya-843597?device=desktop */

body{
    margin: 0;
}

header{
    height: 100vh;
    background-color: rgb(204, 251, 251);
    position: relative;
}

#pink{
width: 40%;
height: 50vh;
background-color: pink;
position: absolute;
top: 2%;
left: 33%;
z-index: 9;
}

#yellow{
width: 50%;
height: 65vh;
background-color: rgb(249, 235, 134);
position: absolute;
top: 25%;
right: 12%;
}

header img{
    width: 60%;
    height: 75vh;
    position: absolute;
    top: 7%;
    left: 10%; 
    object-fit: cover;
    z-index: 10;
}

#inform{
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 5px;
    left: 30%;
    background-color: white;
    z-index: 11;
    padding: 10px;
}

@font-face {
font-family: SourceCodePro-VariableFont_wght;
src: url(fonts/SourceCodePro-VariableFont_wght.ttf);
}

h1{
    font-family: SourceCodePro-VariableFont_wght;
    font-size: 5vw;
    margin: 0;
}

header p{
     font-family: SourceCodePro-VariableFont_wght;
     color: rgb(92, 92, 92);
}

#title{
    height: 100vh;
    background-image: url(img/-min.jpg);
    background-size: cover;
    padding: 1px;
    padding-left: 30px;
    /* background-repeat: no-repeat; */
    background-position: 50% 50%;
    /* background-color: rgb(243 239 205); */
}

h2{
    font-family: SourceCodePro-VariableFont_wght;
    font-size: 4vw;
    color: #3a6ac3;
}

#title p{
    width: 50%;
    line-height: 2;
    margin-left: 20px;
    font-size: 20px;
    font-family: SourceCodePro-VariableFont_wght;
    color: #3291a0;
}

@font-face {
    font-family: ofont_Propaniac;
    src: url(fonts/ofont_Propaniac.ttf);
}

#photos1{
display: flex;
}

#photos1 img, #photos11 img{
 width: 25%;
 margin: 50px; 
}

#photos1 p, #photos11 p{
  color: #3a6ac3;
  margin-top: 150px;
  font-size: 40px;
  font-family: ofont_Propaniac;
  letter-spacing: 0.5em;
}

#photos11{
display: flex;
position: relative;
}

/* #photos11 img{
 width: 25%;
 margin: 50px; 
} */

/* #photos11 p{
  color: #3a6ac3;
  margin-top: 150px;
  font-size: 40px;
  font-family: SourceCodePro-VariableFont_wght;
} */

#yellow1{
width: 20%;
height: 20vh;
background-color: #fef798;
position: absolute;
top: 12%;
left: 20%;
z-index: 1;
text-align: center;
}

#green{
    width: 20%;
    height: 20vh;
    z-index: 1;
    position: absolute;
    background-color: rgb(198, 252, 234);
    text-align: center;
    top: 60%;
    left: 55%;
}

#yellow1 p, #green p{
    margin-top: 40px;
}

#title1{
    height: 100vh;
    background-image: url(img/6d5d40f9deb0278a3e4c483ebaeecac9.jpg);
    background-size: cover;
    padding: 1px;
    padding-left: 30px;
    background-position: 50% 50%;
}

#title1 p{
    width: 35%;
}

section{
 display: flex;
 font-size: 20px;
 font-family: SourceCodePro-VariableFont_wght;
 color: #014b43;
}

#part1{
margin-right: 400px;
}

#photos2 img{
     width: 25%;
 margin: 50px; 
}

#photos2{
    display: flex;
}

#photos2 p{
    color: #014b43;
    margin-top: 50px;
    font-size: 40px;
    font-family: ofont_Propaniac;
}

#photos31, #photos32{
    display: flex;
}

#photos31 img, #photos32 img{
width: 50%;
margin: 0;
height: 50vh;
}

#title2{
    padding: 0;
    /* border: 3px solid black; */
    background-color: rgb(250, 201, 138);
    height: 50vh;
    width: 50%;
}

#title2 p{
    margin: 5px;
    color: #0b7066;
 /* border: 3px solid black; */
}

#title2 h2{
    margin: 5px;
    color: #0ca192;
}

@font-face {
    font-family: ofont_Fortuna;
    src: url(fonts/ofont_Fortuna.ttf);
}

#venice h2{
 /* color: rgb(11, 124, 231); */
 color: #014b43;
  margin-top: 0;
  margin-right: 8vw;
 margin-bottom: 0;
 font-family: ofont_Fortuna;
 text-align: right;
 letter-spacing: 1vw;
 font-size: 17vh;
 font-weight: 80;
 padding: 0;
}

#photos4{
    position:relative;
    display: flex;
    padding: 50px;
    margin: 0 auto;
}

#venice{
/* background-color: #014b43; */
background-color: rgb(230, 205, 174);
position: relative;
height: 200vh;
display: block;
padding: 10px;
/* margin-top: 50px; */
}

#venice5{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 10px solid white;
    position: absolute;
    margin-left: 35vw;
    margin-top: 15vh;
}

#venice1{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 5vh;
    margin-left: 10vw;
}

#venice6{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 20px solid #e7490b;
    position: absolute;
    z-index: 1;
    margin-top: 60vh;
    margin-left: 18vw;
}

#round1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 25px solid rgb(11, 124, 231);
    margin-left: 5vw;
    margin-top: 50vh;
    position: absolute;
    z-index: 1;

}

#round2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 40px solid #86b155;
    position: absolute;
    z-index: 1;
    margin-left: 63vw;
    margin-top: 80vh;
}

#title3{
     width: fit-content;
margin: 50px;
margin-top: 70vh;
position: absolute;
z-index: 1;
/* background-color: white; */
text-align: center;
padding: 5px;
/* border: 5px solid rgb(11, 124, 231); */
display: flex;
}

#title3 p{
    color: #014b43;
    margin: 2px auto;
     font-family: ofont_Fortuna;
font-size: 4vh;
font-style: italic;
letter-spacing: 0.3vw;
}

/* #title3 img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 5px solid rgb(11, 124, 231);
    margin: 20px;
} */
/* #photos4 p{
    position: absolute;  
    text-decoration: 10px wavy red;  
    z-index: 10;
} */

#wavy span{
    text-decoration-style: wavy;
    text-decoration-color: #e7490b;
    text-decoration-thickness: 15px;
    text-decoration-line: line-through;
    letter-spacing: 1em;
    color: #e7490b00;
    padding: 15px;
}

#wavy{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 60vw;
    margin-top: 10vh;
}

